{% extends 'base.html.twig' %}

{% block title %}À propos de la plateforme{% endblock %}

{% block body %}

<div class="container my-5">

    <h1 class="h3 mb-3">À propos de la plateforme</h1>

    <p class="text-muted">
        Cette plateforme de dons et de collecte caritative a été réalisée dans le cadre d’un projet académique.
        Elle permet de soutenir des campagnes par exemple qui sont liées au séisme d’Al Haouz, aux inondations, aux zones rurales,
        aux jeunes entrepreneurs, etc.
    </p>

    <hr>

    <h2 class="h5 mt-4">Objectifs</h2>
    <ul>
        <li>Faciliter la mise en relation entre donateurs et porteurs de projets solidaires.</li>
        <li>Mettre en avant des campagnes réalistes et adaptées au contexte marocain.</li>
        <li>Assurer un suivi des dons effectués par chaque utilisateur.</li>
    </ul>

    <h2 class="h5 mt-4">Réalisation</h2>
    <p>
        Plateforme développée avec <strong>Symfony</strong>, <strong>PHP</strong>, <strong>MySQL</strong>,
        <strong>Bootstrap</strong> et <strong>Twig</strong>.
    </p>
    <p>
        Réalisée par : <strong>DAOU Anas et HAJBI Sara </strong><br>
        Établissement : <strong>EMSI </strong><br>
        Année universitaire : <strong>2025 / 2026</strong>
    </p>

    <h2 class="h5 mt-4">Contact</h2>
    <p>
        Pour toute question ou suggestion :
        <br>
        Email1 : <a href="mailto:anas.daou05@gmail.com">anas.daou05@gmail.com</a>
        Email2 : <a href="mailto:sarahhjb9@gmail.com">sarahhjb9@gmail.com</a>
        <br>
    </p>

</div>

{% endblock %}
