{% extends 'base.html.twig' %}

{% block title %}Paiement PayPal{% endblock %}

{% block body %}
    <div class="container my-5">
        <a href="{{ path('campaign_show', {id: campaign.id}) }}">&larr; Retour à la campagne</a>

        <h1 class="mt-3">Paiement via PayPal</h1>

        <p>Vous allez payer <strong>{{ donation.amount }} MAD</strong> pour la campagne :
            <strong>{{ campaign.title }}</strong></p>

        <form method="post">

            <div class="mb-3">
                <label>Email PayPal</label>
                <input type="email" name="paypal_email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Mot de passe PayPal</label>
                <input type="password" name="paypal_password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">
                Confirmer le paiement
            </button>

        </form>

    </div>
{% endblock %}
